.intro {
    background-color: #2A2C2F;
    display: flex;
    margin: auto;
    padding-top: 92px;
    max-width: 984px;

}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: calc(928/1024*100%);
        padding-top: 82px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: calc(720/768*100%);
        padding-top: 88px;
    }
}

@media screen and (max-width: 375px) {
    .intro {
        padding-top: 64px;
    }
}