.lead__subtitle {
    text-align: center;
    align-self: center;
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    margin: 32px 0 64px;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin: 32px 0 56px;
    }
}

@media screen and (max-width: 750px) {
    .lead__subtitle {
        max-width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .lead__subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 470px) {
    .lead__subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 350px) {
    .lead__subtitle {
        font-size: 17px;
        margin: 16px 0 40px;
    }
}    

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px; 
        margin: 16px 0 40px;
    }
}